p {
  margin-bottom: 10px;
  color: #444;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #efefef;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 1.111em;
  line-height: 1.5;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Header.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero.hero-team {
  background-image: url('../images/fachpersonal.jpg');
}

.hero.hero-portfolio {
  background-image: url('../images/Sonnenuntergang.jpg');
  background-position: 50% 50%;
}

.hero.hero-edition {
  background-image: url('../images/edition-sonblom.jpg');
  background-position: 50% 0%;
}

.hero.hero-schwarte {
  background-image: url('../images/schwarte_01.jpg');
}

.hero.hero-dgamn {
  background-image: url('../images/dgamn-3d-web.jpg');
}

.hero.hero-altertum {
  background-image: url('../images/altertumsverein-flyer-mockup.jpg');
  background-position: 50% 0%;
}

.hero.hero-portrait {
  background-image: url('../images/vicky_k.jpg');
}

.hero.hero-impressum {
  background-image: url('../images/space-shuttle-774_dark.jpg');
}

.kunden {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7vw;
  padding-bottom: 7vw;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #434663;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/space-shuttle-774_dark.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.body {
  font-family: 'Roboto Local', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.heading {
  margin-bottom: 20px;
  font-family: 'Poiret one Local', 'Palatino Linotype', sans-serif;
  color: #f66;
  font-size: 2.333em;
  font-weight: 400;
}

.paragraph {
  font-size: 1.111em;
}

.paragraph.contact-text {
  color: #fff;
  text-align: center;
}

.profile-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 7vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #f66;
}

.button:hover {
  background-color: #434663;
}

.button.formular-button {
  margin-left: auto;
  float: right;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 1250px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 36px;
  height: 36px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-paragraph {
  font-size: 1.111em;
}

.nav-link {
  color: #fff;
}

.nav-link.w--current {
  color: #f66;
}

.kunden-img {
  max-width: 250px;
}

.container-2 {
  max-width: 940px;
}

.link {
  color: #f66;
}

.image-3 {
  height: 80px;
}

.text-wrapper {
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.article {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.team-gallery {
  display: block;
  padding-bottom: 7vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  width: 100%;
}

.team-member {
  max-width: 250px;
  text-align: center;
}

.team-name {
  margin-bottom: 0px;
  padding-top: 5px;
  font-size: 1.111em;
  font-weight: 700;
}

.gallery-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
}

.contact-form {
  display: block;
  margin-bottom: 7vw;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-block {
  max-width: 1250px;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 7vw;
  grid-auto-columns: 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.portfolio-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.portfolio-name {
  margin-top: 10px;
  color: #444;
  font-size: 24px;
}

.portfolio-img {
  position: relative;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

.portfolio-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #efefef;
}

.image-5 {
  width: 50px;
}

.portfolio-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.portfolio-text {
  width: 50%;
  padding: 7vw;
}

.portfolio-text.portfolio-leistungen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #efefef;
}

.leistungen {
  font-size: 1.111em;
}

.image-6 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery-section {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gallery-item {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 40px;
}

.section {
  display: -ms-grid;
  display: grid;
  margin-top: 25px;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-7 {
  width: 100%;
}

.image-8 {
  width: 100%;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.gallery-link {
  position: static;
  width: 33.3%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.footer-menu {
  width: 25%;
  text-align: left;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero {
    background-position: 40% 50%;
  }

  .kunden {
    padding-right: 7vw;
    padding-left: 7vw;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .paragraph.contact-text {
    font-size: 1em;
    text-align: center;
  }

  .kunden-img {
    margin: 46px 0px;
    padding: 30px;
  }

  .portfolio-grid {
    padding-right: 7vw;
    padding-left: 7vw;
  }

  .gallery-section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .gallery-item {
    width: 100%;
  }

  .link-block-2 {
    margin: 50px;
  }

  .menu-button {
    margin-left: auto;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .profile-text {
    width: 100%;
  }

  .kunden-img {
    margin: 0px;
  }

  .team-member {
    margin-bottom: 40px;
  }

  .gallery-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .portfolio-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .portfolio-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .portfolio-text {
    width: 100%;
  }

  .section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container-3 {
    max-width: 90%;
  }

  .gallery-link {
    width: 33.3%;
  }

  .footer-menu {
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
  }

  .icon {
    margin-left: auto;
    color: #fff;
  }

  .menu-button {
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .hero {
    height: 30vh;
  }

  .portfolio-grid {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .portfolio-img {
    height: 250px;
  }

  .gallery-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .gallery-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-block-2 {
    height: 50%;
  }

  .gallery-link {
    width: 100%;
  }

  .footer-menu {
    width: 100%;
  }
}

#w-node-_3dca3ab9-2b38-e00f-47bf-f779488ff2c4-29b2d49e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_3dca3ab9-2b38-e00f-47bf-f779488ff2b4-29b2d49e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_3dca3ab9-2b38-e00f-47bf-f779488ff2bc-29b2d49e {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Poiret one Local';
  src: url('../fonts/poiret-one-v14-latin-regular.woff2') format('woff2'), url('../fonts/poiret-one-v14-latin-regular.eot') format('embedded-opentype'), url('../fonts/poiret-one-v14-latin-regular.woff') format('woff'), url('../fonts/poiret-one-v14-latin-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'), url('../fonts/roboto-v30-latin-300italic.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-300italic.woff') format('woff'), url('../fonts/roboto-v30-latin-300italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), url('../fonts/roboto-v30-latin-700.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-700.woff') format('woff'), url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), url('../fonts/roboto-v30-latin-700.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'), url('../fonts/roboto-v30-latin-700italic.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-700italic.woff') format('woff'), url('../fonts/roboto-v30-latin-700italic.ttf') format('truetype'), url('../fonts/roboto-v30-latin-700italic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), url('../fonts/roboto-v30-latin-italic.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-italic.woff') format('woff'), url('../fonts/roboto-v30-latin-italic.ttf') format('truetype'), url('../fonts/roboto-v30-latin-italic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), url('../fonts/roboto-v30-latin-regular.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-regular.woff') format('woff'), url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), url('../fonts/roboto-v30-latin-regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Local';
  src: url('../fonts/roboto-v30-latin-300.eot') format('embedded-opentype'), url('../fonts/roboto-v30-latin-300.woff') format('woff'), url('../fonts/roboto-v30-latin-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}