@import "../../components/theme/theme.less";

.index{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "titelbild"
    "slogan"
    "features"
    "mockup"
    "textbox"
    "portfolios"
    "kunden"
    "kontakt";
}

img{
  max-width: 100%;
}

/**Titel**/

.title{
  display: none;
}

.titelbild{
  grid-area: titelbild;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  padding: 0;
}

/**Slogan**/

.slogan{
  grid-area: slogan;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  h2{
    font-size: 4.6em;
    margin-bottom: 40px;
    font-weight: 400;
  }
  
  p{
    font-size: 1.556em;
  }
}

/**Features**/

.features{
  grid-area: features;
  background: @light-gray;
  padding: @dynamisch 0;
}

/**Mockup-Bild**/

.mockup{
  grid-area: mockup;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/**Portfoliobereich**/

.portfolios{
  grid-area: portfolios;
  background: @light-gray;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: @dynamisch;
  
  h5{
    margin: 0;
    color: #444;
    font-size: 1em;
    padding-bottom: calc(@gross + @gross);
  }
  
  .portfolioBild{
    margin: 0;
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding-bottom: @klein;
  }
}

/**Kunden**/

.kunden{
  grid-area: kunden;
  background: @secondary;
  padding: @dynamisch 0;
  text-align: center;
  
  h5{
    color: @bright;
    border-bottom: 2px solid @bright;
    display: inline-block;
    text-align: center;
    margin: 0 auto @dynamisch auto;
  }
  
  .zeile{
    padding: 0;
  }
  
  .kunde{
    max-width: 250px;
    height: auto;
  }
}

/**Kontakt**/

.kontakt{
  grid-area: kontakt;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "kontaktimage kontaktimage"
    "kontaktimage kontaktimage"
}

.kontaktimage{
    grid-area: kontaktimage;
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }

.kontaktinhalt{
  grid-column-start: kontaktimage-start;
  grid-column-end: 3;
  padding: @dynamisch 20px;
  z-index:1;

  h2{
    font-size: 2.333em;
    margin: 0 0 @gross 0;
    font-weight: 400;
  }
  
  p{
    padding: 0 0 @gross 0;
    color: @bright;
  }
}

/**Mobil**/

@media @landscape{
  .index{ 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "titelbild titelbild"
      "titel titel"
      "slogan slogan"
      "features features"
      "mockup mockup"
      "textbox portfolios"
      "kunden kunden"
      "kontakt kontakt";
  }  
  
  .kontaktinhalt{
    grid-column-end: 2;
    padding: @dynamisch;
  }
}

@media @desktop{
  .profil{
    padding: @dynamisch;
  }
}
