@import "../../components/theme/theme.less";

.post{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "titelbild"
    "textbox"
    "infobox"
    "gallery"
}

.infobox>*{
  width: 100%;
  margin: 0 auto;
}

.infobox{
  grid-area: infobox;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: @light-gray;
  width: 100%;
  padding: @gross;

  .text{
    margin-bottom: @gross;
  }
  
  .list{
    padding: 0;
    list-style: none;
    
    img{
      width: 40px;
      height: auto;
    }
  }
  
  .subtitle{
    font-size: 1em;
    color: @dark-gray;
    font-weight: 600;
    margin-bottom: @gross;
    padding-bottom: 0;
  }
}

.gallery{
  grid-area: gallery;
  width: 100%;
  height: 40vh;
}

@media @landscape{
  .post{
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "titelbild titelbild"
    "textbox infobox"
    "gallery gallery"
  }
  
  .infobox{
    padding: @dynamisch;
  }
  
  .gallery{
    height: 80vh;
  }
}