/*FARBEN*/
@primary: #ff6666;
@primary-light: lighten(@primary, 20%);
@secondary: #434663;
@primary-light: lighten(@secondary, 20%);
@light-gray: #efefef;
@dark-gray: #444;
@bright: #fff;

/*Abstände*/
@gross: 20px;
@klein: 10px;
