@import "../theme/theme.less";

.form{
  width: 100%;
  padding: 20px;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  grid-gap: 20px;
  grid-template-areas: 
    "name"
    "mail"
    "message"
    "button";

  input,
  textarea{
    width: 100%;
    background: #efefef;
    border: none;
    border-radius: 30px;
    padding: @gross;
  }
  
  p{
    margin: @klein;
  }
}

.name{
  grid-area: name;
}

.mail{
  grid-area: mail;
}

.message{
  grid-area: message;
  
  textarea{
    height: 150px;
  }
}

.button{
  grid-area: button;
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 10px;
  background: @primary;
  color: @bright;
  font-weight: 600;
}