@import "../theme/theme.less";

.form{
  width: 100%;
  max-width: @text-width;
  margin: 0 auto @dynamisch auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: @gross;
  grid-template-areas:
    "name"
    "mail"
    "message"
    "button";

  input,
  textarea{
    width: 100%;
    background: #efefef;
    border: none;
    border-radius: 30px;
    padding: @gross;
    outline: 0;
  }

  p{
    margin: 0.5vw 0;
    padding: 0;
  }
}

.name{
  grid-area: name;
}

.mail{
  grid-area: mail;

  input:focus:valid{
    background: #c2d977;
  }

  input:focus:invalid{
    background: #D7454A;
  }
}

.message{
  grid-area: message;

  textarea{
    min-height: 150px;
    resize: vertical;
  }
}

.button{
  grid-area: button;
  width: auto;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  background: @primary;
  color: @bright;
  font-weight: 600;

  &:hover{
    background: @secondary;
  }
}

@media @tablet{
  .form{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name mail"
      "message message"
      "button .";
  }
}
