@import "../theme/theme.less";

section{
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: auto;
  grid-gap: 20px;
}

.person>*{
  padding: 0 @gross;
}

.person {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  img{
    width: 100%;
    padding: @klein 0;
  }
  
  .name{
    margin: 0;
    color: @dark-gray;
    font-size: 18px;
  }
  
  .mail{
    margin-bottom: @gross;
  }
}
