@import "../components/theme/theme.less";

footer{
  background: @light-gray;
  grid-area: footer;
  margin-top: 10vh;
  padding: @gross;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  grid-template-areas: 
    "left"
    "middle"
    "right";

  div{
    margin-bottom: @gross;
  }
  
  h6{
    color: @dark-gray;
  }
}

.middle{
  
}