@import "../components/theme/theme.less";

footer{
  background: @light-gray;
  grid-area: footer;
  padding-top: 40px;

  div{
    margin-bottom: @gross;
  }
  
  h6{
    color: @dark-gray;
  }
}

.wrapper{
  width: 100%;
  padding: @gross;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "left"
    "middle"
    "right";
}

.left{
  grid-area: left;
}

.middle{
  grid-area: middle;
  
  ul{
    padding: 0;
    list-style: none;
    
    li{
      margin: 0;
    }
  }
}

.right {
  grid-area: right;
}

@media @desktop{
  .wrapper{
    max-width: @wrapper;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "left middle right";
  }
}