@import "../components/theme/theme.less";


.header{
  width: 100%;
  background: black;
  grid-area: header; 
}

.logo{
  height: 80px;
  margin: @klein auto;
  display: block;
}

.wrapper{
  height: auto;
  width: 100%;
  max-width: @wrapper;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media @landscape{
  .header{
    position: fixed;
  }  
  
  .wrapper{
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    margin: @gross auto @gross @gross;
  }
}